<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marios .Net Portfolio</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/redicode.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <style>

        i.colored{
            font-size: 42px !important;
            margin-left: 5px;
        }
        img.img-logo{
            max-width: 40px !important;
            display: inline-block;
            margin-top: -25px;
            margin-left: 5px;
        }
        img.sql-logo{
            margin-top: -28px;
        }
        img.horizontal-logo {
            max-width: 78px;
            display: inline-block;
            margin-top: -25px;
            margin-left: 5px;
            margin-bottom: 15px;
        }
        .project-block img.bash-logo{
            margin-top: 0px !important;
        }
        img.bash-logo {
            max-width: 40px !important;
            display: inline-block;
            margin-top: -25px;
            margin-left: 5px;
        }
    </style>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>

</html>
