<div style="margin-top: 25px;" class="row">
  <div class="col-md-12">
    <div class="col-md-6 col-md-offset-1">
      <h1>My projects</h1>
      <span>Here's a list of some of my most significant projects which I consider to be essential to my demonstration
        of skills.
        Safe to say, some of these I've worked on concurrently. (2-3 at the same time)
        The projects are listed chronologically from oldest to latest. </span>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div *ngFor='let project of projects' class="col-md-12">
      <div class="panel project-block panel-default">
        <div class="panel-body">
          <h3 class="project-title">{{project.name}}</h3>
          <p>
            {{project.description}}
          </p>
          <p>
            <span tooltip="{{project.backendTechnology.name}}" [innerHTML]="iconService.getLogo(project.backendTechnology.name, true)"></span>
            <span tooltip="{{project.frontendTechnology.name}}" [innerHTML]="iconService.getLogo(project.frontendTechnology.name, true)"></span>
            <span tooltip="{{project.databaseTechnology.name}}" [innerHTML]="iconService.getLogo(project.databaseTechnology.name, true)"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-2 coffee-container">
  <div class="panel coffee-block">
    <div class="panel-body text-center">
      <img src="/img/mario_coffee.gif" class="img img-responsive coffee-pic" alt="">
    </div>
  </div>
</div>