<div class='main-nav navbar-custom'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">
                <table>
                    <tbody>
                            <td>
                                <img style="margin-right: 5px;" src="/img/mainpic.png" class="brand-pic" alt="">
                            </td>
                            <td style="padding-left: 5px; margin-top: -10px;"> 
                                <p style="margin-bottom: 5px !important;">Mario Porcic </p>
                                .Net Portfolio 
                            </td> 
                    </tbody>
                </table>
            </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <i class='glyphicon glyphicon-home'></i> <span>Home</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/projects']">
                        <i class="glyphicon glyphicon-heart-empty"></i> <span>Projects</span> 
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/contact']">
                        <i class="glyphicon glyphicon-envelope"></i> <span>Contact</span> 
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/about']">
                        <i class="glyphicon glyphicon-blackboard"></i> <span>About this project</span> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
