<div class="row">
  <div class="col-md-6">
    <h1>Contact me!</h1>
    <p>I'm always available to talk and consult!</p>
    <div class="well">
      <p><i class="glyphicon glyphicon-envelope"></i> porcicmario@gmail.com</p>
      <p><i class="glyphicon glyphicon-phone"></i> +389 71 813 824</p>
      <p><i class="glyphicon glyphicon-map-marker"></i> Skopje, Macedonia</p>
    </div>
  </div>
  <div class=" col-md-2 coffee-container">
    <div class="panel coffee-block">
      <div class="panel-body text-right mailbox-container">
        <img style="display: inline-block; max-width: 100px; margin-bottom: -35px; margin:0 auto;" src="/img/mailbox.gif" alt="mailbox" class="img-responsive mailbox-pic">
        <img style="display: inline-block; max-width: 200px; margin:0 auto;" src="/img/mario_mail.gif" alt="mailbox" class="img-responsive letter-pic">
      </div>
    </div>
  </div>
</div>