<div class="row" style="margin-top: 25px">
  <div class="col-md-6">
    <h1>Add a project</h1>
    <form class="form-horizontal" action="">
      <div class="form-group">
        <label class="col-md-12" for="description">Project name:</label>
        <div class="col-md-12">
          <input name="name" [(ngModel)]="project.Name" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12" for="description">Project description:</label>
        <div class="col-md-12">
          <textarea name="description" [(ngModel)]="project.Description" type="text" class="form-control"> </textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="frontend" class="col-md-12">Frontend technology:</label>
        <div class="col-md-12">
          <select  [(ngModel)]="project.FrontendTechnologyId" class="form-control" name="frontend" id="">
            <option value="">Choose one</option>
            <option *ngFor="let technology of frontendTechnologies" value="{{technology.id}}">
              {{technology.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="frontend" class="col-md-12">Backend technology:</label>
        <div class="col-md-12">
          <select [(ngModel)]="project.BackendTechnologyId"  class="form-control" name="backend" id="">
            <option value="">Choose one</option>
            <option *ngFor="let technology of backendTechnologies" value="{{technology.id}}">
              {{technology.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="frontend" class="col-md-12">Database technology:</label>
        <div class="col-md-12">
          <select [(ngModel)]="project.DatabaseTechnologyId"  class="form-control" name="backend" id="">
            <option value="">Choose one</option>
            <option *ngFor="let technology of databaseTechnologies" value="{{technology.id}}">
              {{technology.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="duration" class="col-md-12">Duration:</label>
        <div class="col-md-12">
          <input name="duration" [(ngModel)]="project.Duration" class="form-control" type="text" id="duration">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <button (click)="addProject()" class="btn-lg btn-primary">
            Add project
          </button>
        </div>
      </div>
    </form>
  </div>
</div>