<h1>About this project</h1>
<p>This is my portfolio single page application, built with:</p>
<table class="info-table" >
    <tbody>
        <tr>
            <td valign="middle">
                <i class="devicon-dot-net-plain colored"></i>
            </td>
            <td valign="middle">
                <a target="_blank" href='https://get.asp.net/'>ASP.NET Core</a> and
                <a target="_blank" href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</td>
        </tr>
        <tr>
            <td valign="middle">
                <i class="devicon-angularjs-plain colored"></i>
            </td>
            <td valign="middle">
                <a target="_blank" href='https://angular.io/'>Angular</a> and
                <a target="_blank" href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code
            </td>
        </tr>
        <tr>
            <td valign="midle">
                <i class="devicon-webpack-plain colored"></i>
            </td>
            <td valign="middle">
                <a target="_blank" href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <i class="devicon-bootstrap-plain colored"></i>
            </td>
            <td valign="middle">
                <a target="_blank" href='http://getbootstrap.com/'>Bootstrap</a> for layout
            </td>
        </tr>
        <tr>
            <td align="middle" valign="middle">
                <img style="max-width: 36px; margin: auto;" src="https://cdn.worldvectorlogo.com/logos/raspberry-pi.svg" alt="">
            </td>
            <td valign="middle">
                    It is being hosted on my <a target="_blank" href="https://www.raspberrypi.org">Raspberry Pi</a>
            </td>
        </tr>
        <tr>
            <td align="middle" valign="middle">
                <svg viewBox="0 0 128 128">
                    <path fill="#FC6D26" d="M126.615 72.31l-7.034-21.647L105.64 7.76c-.716-2.206-3.84-2.206-4.556 0l-13.94 42.903H40.856L26.916 7.76c-.717-2.206-3.84-2.206-4.557 0L8.42 50.664 1.385 72.31a4.792 4.792 0 0 0 1.74 5.358L64 121.894l60.874-44.227a4.793 4.793 0 0 0 1.74-5.357"></path><path fill="#E24329" d="M64 121.894l23.144-71.23H40.856L64 121.893z"></path><path fill="#FC6D26" d="M64 121.894l-23.144-71.23H8.42L64 121.893z"></path><path fill="#FCA326" d="M8.42 50.663L1.384 72.31a4.79 4.79 0 0 0 1.74 5.357L64 121.894 8.42 50.664z"></path><path fill="#E24329" d="M8.42 50.663h32.436L26.916 7.76c-.717-2.206-3.84-2.206-4.557 0L8.42 50.664z"></path><path fill="#FC6D26" d="M64 121.894l23.144-71.23h32.437L64 121.893z"></path><path fill="#FCA326" d="M119.58 50.663l7.035 21.647a4.79 4.79 0 0 1-1.74 5.357L64 121.894l55.58-71.23z"></path><path fill="#E24329" d="M119.58 50.663H87.145l13.94-42.902c.717-2.206 3.84-2.206 4.557 0l13.94 42.903z"></path>
                    </svg>
            </td>
            <td valign="middle">
                You can find the source code of this project in this <a target="_blank" href="https://gitlab.com/mporcic/mydotnetportfolio">gitlab repository.</a>
            </td>
        </tr> 
    </tbody>
</table>

<h3>Few more notes...</h3>
<p>I've implemented some design patterns like the Repository and UnitOfWork pattern. I realize this is a bit of overkill for such a simple project but I've wanted to demonstrate my knowledge in them.</p>
<p>That being said, the application is now decoupled from the ORM (EntityFramework) and is ready for UnitTesting and Agile development!</p>
<p>I am also using AutoMapper to separate API Resources from their Domain objects.</p>