<div class="row">
    <div class="col-md-12 text-center">
        <img src="/img/mainpic.png" style="margin: auto; max-width: 200px; margin-top: 10px;" alt="">
        <h1>Hello, there!</h1>
    </div>
    <hr>
</div>
<div class="row">
    <br>
    <div class="col-md-8 col-md-offset-2 text-left">
        <p>My name is Mario Porcic and this is my portfolio written in .Net Core and AngularJS.
            <i class="fa fa-star"></i>
            <br> If you would like to know more about this project, please click
            <a href="/about">here.</a>
        </p>

        <p>You can also find out more about what I've done if you go
            <a href="/projects">here.</a>
        </p>
        <p> If there's any further questions please feel free to
            <a href="/contact">contact me</a> and I will reply at the soonest!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Skills and techniques</h2>
        <hr class="star-light">
    </div>
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <p>I have been developing software solutions professionally for 5.5 years and I've been passionate about
                coding
                many years before that. Due to my passion, I would take up projects that have required me to learn
                different
                programming languages, coding methods and design patterns, often times in very short periods of time.
            </p>
            <p>
                This has equipped me with a lot of experience in multiple languages, their limits and the ability to
                debug and understand
                errors in them, as well as working on teams of differing sizes and working on projects both onsite as
                well
                as remotely.
            </p>

            <p>Below, you will find the pool of programming languages and frameworks at my disposal:</p>
            <br>
            <div class="well">
                <span class="well-icon" *ngFor='let technology of technologies'>
                    <span tooltip="{{technology.name}}" [innerHTML]="iconService.getLogo(technology.name, false)">
                    </span>
                </span>
            </div>

        </div>
    </div>
    <div class="col-md-12 text-center">
        <h2>Current employment</h2>
        <hr class="star-light">
    </div>
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <p>
                I am currently employed as Senior Full-stack developer at <a href="https://www.endava.com/">Endava</a>,
                a multinational company with over
                4500 employees and offices around the world. Specifically I am a team lead and Architect for a project
                for one of the biggest insurance companies in the world, <a href="https://www.beazley.com">Beazley.</a> You can find out more about the
                project in my <a href="/projects">projects page.</a>
            </p>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <h2>Part of the A-Team</h2>
        <hr class="star-light">
    </div>
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">

            <p>
                I've been very lucky and privileged to have worked with a lot of talented developers during my time at
                Monash University
                and collaborations on projects. Thanks to that, I have developed great communication skills and I have
                gained
                knowledge in various development methods particularly in the Agile methods.
            </p>
            <p style="margin-bottom: 55px">
                I have also had the chance to mentor and instruct many young up-and-coming developers who have
                collaborated with me.
                Currently being an Architect and team lead on the project I am working for the past year, I have grown
                a lot as a leader and coordinator and I can say that my soft skills have improved greatly as well.
            </p>
        </div>
    </div>
</div>